* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-areas: 
    'header' 
    'main' 
    'footer';
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: header;
}

/* main {
    height: 80%;
    display: flex;
} */

main {
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
}

section {
    background-color: red;
    /* flex: 1; */
}

article, aside, section {
    padding: 10px;
}

article {
    background-color: blue;
    /* flex: 3; */
}

aside {
    background-color: yellow;
    /* flex: 1; */
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    grid-area: footer;
}

@media only screen and (max-width : 991px) {
    main {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr 1fr
    }
}